*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: block;
    background-color: aqua;
}
#main{
    display: block;
}
.project{
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    background-color: rgb(67, 67, 250);
    font-size: 150%;
    border: solid 2px yellow;
}