body {
    margin:10px;
    box-sizing: border-box;
    width: 100%;
}
.main {
    margin: auto;
    width: 300px;
    background-color: rgb(29, 28, 28);
}
.resultDiv {
    color:whitesmoke;
    height: 38px;
    text-align: end;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.result {
    margin-top: 0px;
}
.btnRow {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}
.btn {
    text-align: center;
    border-radius: 0px;
    font-size: 20px;
    background-color: whitesmoke;
    border: none;
}
.btn:hover {
    background-color: rgb(173, 173, 173);
}
.btn:active {
    background-color: rgb(120, 120, 120);
}
.numButton {
    width: 24%;
    height: 60px;
}
.buttons {
    padding: 5px 0px;
    background-color: rgb(20, 20, 20);
}