* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height:100vh;
    justify-content: center;
}
#guide-div {
    text-align: center;
    border: solid 2px yellow;
    border-radius: 10px;
    padding: 60px 20px;
    background-color: whitesmoke;
    color:rgb(24, 24, 24);
}
#input-div{
    text-align: center;
    padding: 50px 15px;
    background-color: rgb(255, 217, 0);
    border-radius: 10px;
    border: solid 2px rgb(77, 105, 233);
    flex-grow: 3;
}
#input {
    font-size: 150%;
    width: 400px;
    color: rgb(24, 24, 24);
    background-color: whitesmoke;
    border: solid 2px rgb(77, 105, 233);
    border-radius: 10px;
}
#lower-container {
    display: flex;
    margin: 10px
}
#level-display-container {
    padding: 50px 15px;
    background-color: rgb(241, 239, 239);
    border-radius: 10px;
    border: solid 2px rgb(77, 105, 233);
    color:rgb(255, 0, 0);
    flex-grow: 1;
    text-align: center;
}
#countdown-div {
    flex-grow: 1;
    padding: 50px 15px;
    background-color: rgb(241, 239, 239);
    border-radius: 10px;
    border: solid 2px rgb(77, 105, 233);
    color:rgb(255, 0, 0);
    flex-grow: 1;
    text-align: center;
}
#submit {
    background-color: whitesmoke;
    height: 30px;
    border-radius: 10px;
    font-size: 120%;
}
#submit:hover {
    background-color: rgb(192, 190, 190);
}
#submit:active {
    background-color: rgb(139, 139, 139);
}